<footer>
    <div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.025);">
    <div class="row footer-section" id="">
      <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
        <div class="card-body footerLogoDiv">
        <a class="/" style="font-size: 20px; margin-top: 0;" href="/" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Jeffrey Martinez</a>
      </div>
      </div>
  
      <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
        <div class="card-body footerCard">
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Home</a>
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">About</a>
        <a href="/" class="btn-primary">Resume</a>
      </div>
  
      </div>
  
      <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
        <div class="card-body footerCard">
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Blog</a>
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Courses</a>
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Projects</a>
      </div>
      </div>
  
      <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
        <div class="card-body footerCard">
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Contact</a>
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Linkedin</a>
        <a href="/" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Email</a>
        
      </div>
      </div>
    </div>
  
    <div class="text-center p-4 copyright" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="/" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Jeffrey Martinez</a>
    </div>
    </div>
  </footer>